.float-left {
    float: left;
}

#main-item-photo {
    height: 30rem;
}

.item-photo {
    display: flex;
    flex-flow: row wrap;
    column-gap: 2rem;
}

.side-photos {
    display: flex;
    flex-direction: column;
}

.side-item-photo {
    height:10rem;
}

#side-photo1 {
    grid-area: "side-photo1";
}

#side-photo2 {
    grid-area: "side-photo2";
} 

#side-photo3 {
    grid-area: "side-photo3";
}

pre {
    white-space: pre-line;
}


@media only screen and (min-width: 680px) {
    main {
        background-color: #FFF4D1;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .main-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 7em;
    }

    .main-right {
        padding-right: 10em;
    }
}

@media only screen and (max-width: 679px) {
    main {
        background-color: #FFF4D1;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .main-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-right {
        padding-right: 0em;
    }

    .msg{
        width: 17em;
    }
}

.main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9rem;
}

#chat-btn {
    background-color: #F8CF01;
    height: 4rem;
    width: 10rem;
    border-radius: 1.125rem;
}

#add-fav {
    background-color: #29282B;
    color: white;
    height: 4rem;
    width: 10rem;
    border-radius: 1.125rem;
}

.ft-list {
    column-count: 2;
    padding: 0rem 1rem;
}

#usr-ico {
    height: 3rem;
}

.usr-info {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    width: 10rem;
    padding: 2rem 0rem;
}

.ad {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 1rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 1rem;
    max-width: 15rem;
}

.ad-desc {
    display: flex;
    flex-direction: column;
}

.ad-price {
    font-weight: bolder;
}

.ad-img {
    height: 4rem;
    padding-right: 1rem;
}

.ad-contact {
    color: grey;
}

a.ad-contact:visited a.ad-contact:link {
    color: grey;
}

a.ad-title:visited a.ad-title:link {
    color: #000;
    text-decoration: none;
} 

a.ad-title:hover {
    text-decoration: underline;
}

.ad-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem 2rem;
}

#msg-area {
    resize: none;
    padding: 1rem;
    width: 80vw;
}

#snd-msg-btn {
    background-color: #F8CF01;
    height: 3rem;
    width: 8rem;
    border-radius: 0.25rem;
    margin: 1rem 0rem;
}
