.msg-info {
    border: 1px solid black;
    display: flex;
    margin: 1rem;
    width: 90%;
    border-radius: 10px;
    align-items: center;
}

@media only screen and (min-width: 900px) {
    
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5%;
    }

    .main-header {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .ad-container {
        justify-content: flex-start;
    }

    .msg-types {
        font-size: 1.2rem;
    }

    .item-ph {
        height: 7rem;
    }

    .item-desc {
        height: 7rem;
    }
        
}

@media only screen and (max-width: 900px) {
    
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
    }

    .main-header {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ad-container {
        justify-content: center;
        align-items: center;
    }

    .msg-types {
        font-size: 3vw;
    }

    .item-ph {
        height: 11vw;
    }

    main {
        font-size: 2vw;
    }

    .item-desc {
        height: 11vw;
    }
        
}

.msg-row {
    display: flex;
    flex-direction: row;
}

.item-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

.item-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 5vm;
}

.msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-ph {
    padding: 1rem;
}

.item-price {
    color: green;
}

.delete {
    height: 1rem;
    margin-top: 1rem;

}

.delete-btn {
    border: none;
    background-color: white;
}

.delete-btn-img {
    height: 2rem;
}

.msg {
    margin-right: 1rem;
}

.msg-types {
    padding: 1rem 5vw;
    border: 1px solid grey;
    text-align: center;
}

div.main-header a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

div.main-header a:hover {
    background-color: grey;
}

#active-msg {
    background-color: gainsboro;
}

.ad {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 1rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 1rem;
    max-width: 15rem;
}

.ad-desc {
    display: flex;
    flex-direction: column;
}

.ad-price {
    font-weight: bolder;
}

.ad-img {
    height: 4rem;
    padding-right: 1rem;
}

.ad-contact {
    color: grey;
}

a.ad-contact:visited a.ad-contact:link {
    color: grey;
}

a.ad-title:visited a.ad-title:link {
    color: #000;
    text-decoration: none;
} 

a.ad-title:hover {
    text-decoration: underline;
}

.ad-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    padding-right: 1rem;
}