main{
    display: flex;
    flex-wrap: nowrap;
    background-color:#FFF4D1 ;
    justify-content: center;

}

.background{
    margin:2rem 2rem; 
    padding: 2rem 2rem;
    text-align:end;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size:x-large;
    background-color: white;
    border-radius: 2rem;
    width:40%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;}

.logoSize{
    font-size: 6rem;
    margin: 0px;
}
.signinText{
    text-align: center;
}

/* Right Hand box  */
p{  margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.boxlayout{
width: 65%;
height: 2.5rem;
margin: 0.5rem 0;
box-sizing: border-box;
font-size:x-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: 1px solid #c5c5c6;
border-radius: 4px;
padding: 0 16px;
}

#accountdetail{
    display: flex;
    flex-direction: column;
}
.submitbox{
    font-weight: 1000;
    height: 3rem;
    width: 50%;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: aliceblue;
    margin-top: 4rem; 
    margin: 1rem auto;
    justify-content: center;
    
}
.submitbox:hover{
    background-color: #FFF4D1 ;
    color: black;
    border:none;
}

.otherButton{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    padding: 0; 
    font-size:1.5rem;
    font-weight: 600;
    line-height: 1.5;
    border:none;
}
.otherButton:hover{
    color: gray;
}


/*Left Hand box*/ 
.description{
    font-size: 1.5rem;
}
.descriptionImage{
    height: 80%; 
    width: 100%; 
    object-fit:contain;
    position: relative;
    margin: auto;
}
#displayfeature{
    width:auto;
}

.fadeSlide{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}
#prev, #next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(107, 59, 59);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

@media only screen and (max-width: 1500px ) {
    .boxlayout{
        width: 50%;}
        .logoSize{
            font-size: 3rem;
        }
        #signupArea{
            font-size:15px;
        }
        #signupArea button{
            font-size:25px;
        }
        #signupArea a{
            font-size:20px  
        }
    .boxlayout{
        font-size:20px
    }
    
}
@media only screen and (max-width: 900px ){
    #displayfeature{
        display:none;
    }
    p{
        font-size:13px;
    }
    .background{
        width: auto;}

}

@media only screen and (max-width: 500px ) {

    #signupArea{
        font-size:15px;
        }
    #signupArea button{
            font-size:15px;
            }
    #signupArea a{
        font-size:20px  
    }
    .boxlayout{
        font-size:10px;
        height: 1rem;
    }
    
}


