main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 250px;
    grid-template-rows:auto;
    width:100%;
    grid-template-areas:
    "info info info . ad"
    "detail detail detail . ad"
    "detail detail detail . ad"
     "sold sold sold sold ad"
     "buy buy buy buy ad"
     "buy buy buy buy ad"
     "button button button button ad";
     font-family: 'Libre Franklin', sans-serif;
     font-weight: bold;
     background-color: #FFF4D1;
}

.horizontalScroll{
        width: 100%;
        padding-right: 2rem;
        background-color: #FFF4D1;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 1rem;
        .product {
          flex: 0 0 auto;
          
        }
}


aside{  grid-area: ad;
        height: 4fr;
        background-color: white;
        display:flex;
        align-items : center;
        justify-content: center;}
/*information Tab*/
#info{grid-area:info;
        display: flex;
        align-items: center;
        font-size: x-large;
        padding-left: 2rem;}
#info ul{list-style-type: none;}
#info li{padding-top: 0.6rem;}

.icon_standard{
       width: 200px;
       height: 200px; 
}
#buy{   grid-area: buy;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.productImage{
        opacity: 1;
        max-height: 15rem;
}

.product{
        border: #29282B;
        border-radius:1rem;
        background-color :grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        text-decoration: none;
        box-shadow: 2px 2px 8px black;
        height: 20rem;
}

.productLink{color: aliceblue;
        text-decoration: none;
        padding: 0 2rem;
}

#sell{  grid-area: sold;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}


#detail{ grid-area: detail;
        padding-left: 2rem;
        color:#29282B;
        font-size: x-large;}
#detail ul{list-style-type: none;}
#detail li{padding-top: 0.5rem;}
#detail a:link { color: #29282B;
                text-decoration: none;}
#detail a:visited { color: #29282B;
                text-decoration: none;}
.editProfileButton{
        font-weight: 1000;
        height: 3rem;
        width: 15rem;
        background-color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:x-large;
        color: aliceblue;
        margin-top: 4rem; 
        margin: 1rem auto;
        justify-content: center;
        border-radius: 1rem;
}
.editProfileButton:hover{ 
        box-shadow: 0.3rem 0.5rem 0.5rem grey ;

}
.updateInput{
        font-size: large;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height: 1.5rem;
        margin-left: 0.5rem;
        font-weight: 600;
        width: 40%;
        background-color: #FFF4D1;
        
        }
#linkToUploadItem{
        grid-area:button;
        font-weight: 1000;
        height: 4rem;
        width: 70%;
        background-color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:x-large;
        color: aliceblue;
        margin-top: 4rem; 
        margin: 1rem auto;
        justify-content: center;
        border-radius: 1rem;
}
#linkToUploadItem:hover{
        background-color: white ;
        color: black;
        border:none;
    } 
@media only screen and (max-width:800px){

main{grid-template-areas:
        "info info info info info"
        "detail detail  detail detail detail"
        "detail detail  detail detail detail"
        "sold sold sold sold sold"
        "buy buy buy buy buy"
        "button button button button button";
        overflow: hidden;}
        #info{padding-left: 1rem;}
        #info ul{margin-left: -10%;
                padding-left: 0px;}


aside{  display: none;}
}
