main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 250px;
    grid-template-rows:auto;
    width:100%;
    grid-template-areas:
     "icon icon icon . ad"
     "sold sold sold sold ad"
     "buy buy buy buy ad"
     "detail detail . . ad"
     "detail detail . . ad";
     font-family: 'Libre Franklin', sans-serif;
     font-weight: bold;
     background-color: #FFF4D1;
}
.horizontalScroll{
        width: 100%;
        padding-right: 2rem;
        background-color: #FFF4D1;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 1rem;
        .product {
          flex: 0 0 auto;
        }
}

aside{  grid-area: ad;
        height: 4fr;
        background-color: white;
        display:flex;
        align-items : center;
        justify-content: center;}


#info{grid-area:icon;
        display: flex;
        align-items: center;
        font-size: large;
        padding-left: 2rem;}
#info ul{list-style-type: none;}
#info li{padding-top: 0.6rem;}

.icon_standard{
       width: 200px;
       height: 200px; 
}
#buy{   grid-area: buy;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.productImage{
        width: 15rem;
        opacity: 1;
}

.product{
        border: #29282B;
        border-radius:1rem;
        background-color :grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        text-decoration: none;
        box-shadow: 2px 2px 8px black;
}

.productLink{color: aliceblue;
        text-decoration: none;
        padding: 0 2rem;
}

#sell{  grid-area: sold;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}


#detail{ grid-area: detail;
        padding-left: 2rem;
        color:#29282B;
        font-size: large;}
#detail ul{list-style-type: none;}
#detail li{padding-top: 0.5rem;}
#detail a:link { color: #29282B;
                text-decoration: none;}
#detail a:visited { color: #29282B;
                text-decoration: none;}

@media only screen and (max-width:800px){

main{grid-template-areas:
        "icon icon icon icon icon"
        "sold sold sold sold sold"
        "buy buy buy buy buy"
        "detail detail  detail detail detail"
        "detail detail  detail detail detail";
        overflow: hidden;}
        #info{padding-left: 1rem;}
        #info ul{margin-left: -10%;
                padding-left: 0px;}


aside{  display: none;}
}

